[net]
# Testing
batch=1
subdivisions=1
# Training
#batch=64
#subdivisions=8
width=800
height=800
channels=3
momentum=0.949
decay=0.0005
angle=0.3
saturation=1.5
exposure=1.5
hue=.1

# learning_rate=0.001
learning_rate=0.00261
burn_in=1000
max_batches=10000
policy=steps
steps=6000,8000
scales=.1,.1

#cutmix=1
mosaic=1

# 0-P1/2
[convolutional]
batch_normalize=1
filters=18
groups=3
size=3
stride=2
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=mish



# Downsample  # 1-P2/4
[convolutional]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=mish

# CSPBlock layer  C3 x 1
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=mish

# right
[route]
layers=-2
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=mish
# repeat  residual module  x2
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
# repeat  residual module x2 end

[route]
layers=-1,-9

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish


# Downsample  layer # 11-P3/8
[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=mish


# CSPBlock  layer  p-8
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish

# right
[route]
layers=-2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
# repeat  residual module  x6
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
# repeat  residual module x6 end

[route]
layers=-1,-21
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish



# Downsample  # P4/16
[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=mish

# CSPBlock
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish

# right
[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
# repeat  residual module  x6
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[shortcut]
from=-3
activation=linear
# repeat  residual module x6 end

[route]
layers=-1,-21

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish


# Downsample  # P5/32
[convolutional]
batch_normalize=1
filters=768
size=3
stride=2
pad=1
activation=mish


[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
### SPP ###
[maxpool]
stride=1
size=5
[route]
layers=-2
[maxpool]
stride=1
size=9
[route]
layers=-4
[maxpool]
stride=1
size=13
[route]
layers=-1,-3,-5,-6
### End SPP ###
[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=mish


# CSPBlock  layer
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish

# right
[route]
layers=-2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
# repeat   module  x2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=mish
# repeat   module x2 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=mish

########################################################## backbone end

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish

[upsample]
stride=2

[route] 
layers= 61,-1

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
# repeat  residual module  x2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
# repeat  residual module x2 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
# NeckBottle Mix Module end


[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish

# fpn layer 78
[upsample]
stride=2

[route] 
layers=37,-1

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
# repeat  module  x2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=mish
# repeat  module x2 end

[route]
layers=-1,-7
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
# NeckBottle Mix Module end


##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
[yolo4]
mask=0,1,2
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
scale_x_y=1.2
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6
# max_delta=5
##########################

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=mish

[route]
layers=-1, 92

# NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
# repeat  residual module  x2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=mish
# repeat  residual module x2 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
# NeckBottle Mix Module end


##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
[yolo4]
mask=3,4,5
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
scale_x_y=1.2
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6
##########################


[route]
layers=-3

[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=mish

[route]
layers=-1,80

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
# repeat  residual module x2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=mish
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=mish
# repeat  residual module x2 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=mish
# NeckBottle Mix Module end layer

##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
[yolo4]
mask=6,7,8
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
random=0
scale_x_y=1.05
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6
max_delta=5
